<div class="main-wrapper">
  <div class="wrapper-skinny">

    <div class="action-buttons-show">
      <div class="action-back">
        <%= link_to "Back to the list", restaurants_path, class:'button-back' %>
      </div>
    </div>

    <div class="resto-description">
      <h1><%= @restaurant.name %></h1>
      <p>Address: <%= @restaurant.address %></p>
      <p>Phone number: <%= @restaurant.phone_number %></p>
      <p>Category: <%= @restaurant.category %></p>
        <p>Average ratings: <%= @restaurant.average_ratings %></p>
    </div>

    <hr>

    <div class="wrapper-review">
      <h3 class="text-align">Add a review to <%= @restaurant.name %></h3>
      <%= simple_form_for([@restaurant, @review]) do |f|%>
        <%= f.error_notification %>
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @reviews.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Add a review", class:'button-main' %>
      <% end %>
    </div>

    <hr>

    <div class="reviews">
      <% @restaurant.reviews.each do |review| %>
      <div class="reviews-wrapper">
          <div class="reviews-content">
              <%= review.content %>
          </div>
          <div class="reviews rating">
            Rating: <%= review.rating %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
